# Editor / OS artifacts
*~
*.orig
.*.sw[a-z]
.sw?
.DS_Store
.vscode
.idea
.vimrc
tags

# Rust / Cargo
target/

# C++ build artifacts
*.o
*.obj
*.pcm
*.bmi
*.a
*.so
*.dylib
compile_commands.json

# CMake
CMakeCache.txt
CMakeFiles
cmake-build-*

# clangd
.cache
.clangd
